.swal2-title {
  font-size: 1.5rem !important;
}
.swal2-html-container p,
.swal2-html-container h3 {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 12px;
}

.swal2-html-container a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.swal2-html-container .lista {
  font-size: 0.9rem;
  text-align: justify;
  padding-left: 24px;
}

.swal2-html-container .lista li {
  margin-bottom: 1rem;

  & > ul {
    margin-top: 8px;
    & li {
      margin-bottom: 3px;
    }
  }
}

.listDecimal {
  list-style: decimal;
}

.listRoman {
  list-style: upper-roman;
}

.listAlpha {
  list-style-type: upper-alpha;
}

.title--color-secondary {
  color: var(--color-secondary) !important;
}

.btn-modal--confirm {
  background: var(--red-dark);
  border: 1px solid var(--red-dark);
  color: white;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
